.nav {
    border-style: solid;
    border-radius: 12px;
    margin: 0 10px 0 10px;
    padding: 4px 8px 2px 12px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    
}

.hamburger {
    margin: 2px;
}

.logo {
    width: 8vw;
}